
.column {
    float: left;
    width: 50%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #ca1 {
    padding: 10px;
    border: 5px solid gray;
    margin-top: 5px;
  }