#videos {
  margin-top: 30%;
  border: 5px solid gray;
  display: block;
  left: 50%;
  height: auto;
  width: 75%;
  position: relative;
  transform: translate(-50%, -50%);
}

#ca1 {
  padding: 10px;
  max-width:100%;
  border: 5px solid gray;
  margin-top: 5px;
}

.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

#video-barra {
  width: 200px;
  cursor: pointer;
  margin-top: 3px;
}

#volumen-barra {
  width: 80px;
  cursor: pointer;
  margin-top: 3px;
}

#video-controls {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.23);
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
}

.play {
  background-image: url(../../imagenes/icon/play.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  margin-top: 3px;
  padding-left: 16px;
  padding-bottom: 10px;
  vertical-align: top;
}

.pause {
  background-image: url(../../imagenes/icon/pause.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  margin-top: 3px;
  padding-left: 16px;
  padding-bottom: 10px;
  vertical-align: top;
}

.mute {
  background-image: url(../../imagenes/icon/mute-audio.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  margin-top: 3px;
  cursor: pointer;
  padding-left: 16px;
  padding-bottom: 10px;
  vertical-align: top;
}

.sound {
  background-image: url(../../imagenes/icon/volume.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  margin-top: 3px;
  margin-left: 35px;
  cursor: pointer;
  padding-left: 16px;
  padding-bottom: 10px;
  vertical-align: top;
}

#full-screen {
  background-image: url(../../imagenes/icon/fullscreen.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  margin-top: 3px;
  margin-left: 35px;
  cursor: pointer;
  padding-left: 16px;
  padding-bottom: 5px;
  padding-bottom: 10px;
  vertical-align: top;
}
