.font {
  font-family: "Open Sans", sans-serif;
}

#cid {
  width: 70%;
}

#cidc {
  width: 30%;
}

#sit {
  width: 75%;
  height: auto;
  border: 5px solid gray;
  margin-top: 70px;
  margin-right: 20px;
}

#esc {
  margin-top: 5px;
  margin-right: -20px;
}

#centerlist {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}