.font {
  font-family: "Open Sans", sans-serif;
}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#edf {
  width: 400px;
  height: 360px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#map {
  width: 360px;
  height: 360px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 5px;
}