.font {
  font-family: "Open Sans", sans-serif;
}

.column {
  float: left;
  width: 900px;
}
.column1 {
  float: left;
  width: 400px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#est1 {
  width: 350x;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}

#bap {
  padding: 20px;
  margin-top: 20px;
}

#bap1 {
  width: 300px;
  height: 420px;
  padding: 20px;
  border: 5px solid gray;
  margin-top: 20px;
  margin-left: 20px;
  float: right;
}

#bap2 {
  width: 300px;
  height: 200px;
  padding: 20px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 20px;
  float: right;
}

#bapc {
  float: right;
}

#sap1 {
  width: 300px;
  height: 320px;
  padding: 20px;
  border: 5px solid gray;
  margin-top: 20px;
  margin-left: 20px;
}

#sap2 {
  width: 300px;
  height: 230px;
  padding: 20px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 20px;
}

#sapc {
  float: right;
}

#me1 {
  width: 300px;
  height: 275px;
  padding: 20px;
  border: 5px solid gray;
  margin-top: 20px;
  margin-left: 20px;
}

#me2 {
  width: 300px;
  height: 90px;
  padding: 20px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 20px;
}

#mec {
  float: right;
}

#ext {
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 5px solid gray;
  margin-top: 20px;
  margin-left: 20px;
  float: right;
}

#est {
  width: 300px;
  height: 150px;
  padding: 20px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 20px;
  float: right;
}