
.font{
  font-family: 'Open Sans', sans-serif;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#est1 {
  width: 350x;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}

#bap {
  width: 400px;
  height: 640px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}

#bap1 {
  width: 400px;
  height: 400px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 5px;
}

#bap2 {
  width: 400px;
  height: 170px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 5px;
}

#sap {
  width: 400px;
  height: 260px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}

#sap1 {
  width: 400px;
  height: 310px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 5px;
}

#sap2 {
  width: 400px;
  height: 220px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#me {
  width: 400px;
  height: 490px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}

#me1 {
  width: 400px;
  height: 260px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 5px;
}

#me2 {
  width: 400px;
  height: 80px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
  margin-left: 5px;
}
