#salsa {
  width: 350x;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#premios {
  width: 350x;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
.column {
  float: left;
  width: 400px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
