.font {
  font-family: 'Open Sans', sans-serif;
}

#lunes {
  width: 350px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#martes {
  width: 450px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#miercoles {
  width: 475px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#jueves {
  width: 425px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#viernes {
  width: 450px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#sabado {
  width: 400px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
#domingo {
  width: 475px;
  padding: 10px;
  border: 5px solid gray;
  margin-top: 5px;
}
